<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <style>
        form {
            padding-top: 200px;
            padding-left: 40%;
        }
        input {
            width: 400px;
            height: 30px;
        }
        .button {
            width: 200px !important;
            height: 20px !important;
        }
    </style>
</head>
<body>
    <form method="post">
        <label>Title</label>
        <input type="text" placeholder="Enter title" name="title" id="title">
        <br><br>
        <label>Body</label>
        <input type="text" placeholder="Enter post body" name="body" id="body">
        <br><br>

        <input type="submit" class="button">
    </form>
</body>
</html>