<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>{{ template_post['title'] }}</h1>
    <hr>
    <p>{{ template_post['body'] }}</p>
</body>
</html>